.container {
    position: relative;
    z-index: 5;
    max-width: 92rem;
    height: 90vh;
    padding: 0 4rem;
    margin: 1rem 1rem;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }

  .left {

    
    padding: 2rem 1rem;
    margin-right: 1.5rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display:flex;
    flex-direction:column;

  }

  .right {

    position: relative;
    padding: 1rem 1rem;
    margin-left: 1.5rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
   

  }

  .card1 {

    position: relative;
    top: 10px;
    left: 150px;
    

  }

  .title-2{

    font-size:14px;
    font-weight:600;
    padding:10px 20px;
    color:#1a1a1a;
    background-color: transparent;
    border-radius: 40px;
    border: 2px solid #1a1a1a;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease;
    text-transform: uppercase;
    
  }

  .header-title{

    position: relative;
    top: 100px;
    left: 130px;

  }

  .header-title h1{

    font-size :80px;
    letter-spacing: 2px;
    line-height: 100px;
    font-weight:700;
    padding: 10px 10px;
    color:#1a1a1a;


  }

  .header-title p {

    font-size :18px;
    font-weight:505;
    padding-right: 20px;
    color:grey;


  }

  .button-cards {

    position: relative;
    top:100px;
    left:130px;

  }

  img:first-child {

    max-width: 400px;
    height: 50vh;
    z-index: -100;
    opacity: 0.8;
    fill: #1a1a1a;

  
  }

  img:nth-child(2) {

    max-width: 300px;
    height: 30vh;
    z-index: -100;
    opacity: 0.8;
    fill: #1a1a1a;

  
  }

  .hero1  img{
    position: relative;
    top: 0px;
    left:100px;
    border-radius: 60%;
    /* clip-path: polygon(0 0, 84% 0, 39% 45%, 0 83%);
    clip-path: circle(41.0% at 50% 50%); */
    z-index: 100;
    box-shadow: 0px -15px 26px -3px (198, 142, 23);

  }

  .hero2  img{
    position: absolute;
    margin-right: 0.2rem;
    top: 10px;
    right: 1px;
    border-radius: 50%;
    clip-path: polygon(49% 52%, 100% 0, 100% 99%, 0 100%);
    /*clip-path: circle(41.0% at 50% 50%); */
    z-index: -200;
    box-shadow: 0px -15px 26px -3px (198, 142, 23);
   
  } 
 
  .dotted-line {
    position: relative;
    width: 100%;
    height: 2px;
  }
  
  .dotted-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 4px;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    transform-origin: top right;
    border-top: 2px solid #1a1a1a;
   
  }
   
  .button:first-child {

    background: transparent;
    border: 1.7px solid rgb(39, 38, 38);
    border-radius: 40px;
    margin-right: 0.2rem;


}

.button:last-child {

    border-radius: 40px;
    color: #FAF9F6;
    background-color: rgb(39, 38, 38);
    margin-left: 0.2rem;


}
  

  /* Media Queries */
  @media only screen and (max-width: 478px) {

    .container{
      overflow:hidden;
    }

    .grid-2 {
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
      position:relative;
      padding:2px 2px;
      height:90vh;
      width:100%;
     
    }

    .left { 

        display: flex;
        flex-direction:column;
        align-items: center;
        padding: 1rem 1rem;
        height:100%;
        width:100%;
        
    }

    .card1 {
      
      width:100%;
      top:0;
      left:10px;

    }

    .header-title {
      width:100%;
      top:20px;
      left:10px;
      margin-top:1rem;

    }

    .header-title h1{

        font-size:2rem;
        gap:0.2rem;
        letter-spacing: 2px;
        line-height: 60px;

    }

    .button-cards {

      display:none;
  
    }

    img:first-child {

      max-width: 300px;
      height: 40vh;
      z-index: -100;
      opacity: 0.8;
      fill: #1a1a1a;
  
    }
    .hero1  img{
      position: relative;
      top: 0px;
      left:5px;
      border-radius: 60%;
      /* clip-path: polygon(0 0, 84% 0, 39% 45%, 0 83%);
      clip-path: circle(41.0% at 50% 50%); */
      z-index: 100;
      box-shadow: 0px -15px 26px -3px (198, 142, 23);
  
    }


  }

  @media only screen and (max-width: 390px) {

    .grid-2 {
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
      position:relative;
      padding:2px 2px;
      height:90vh;
      width:100%;
     
    }

    .left { 

        display: flex;
        flex-direction:column;
        align-items: center;
        padding: 1rem 1rem;
        height:100%;
        width:100%;
        
    }

    .card1 {
      
      width:100%;
      top:0;
      left:10px;

    }

    .header-title {
      width:100%;
      top:20px;
      left:10px;
      margin-top:1rem;

    }

    .header-title h1{

        font-size:2rem;
        gap:0.2rem;
        letter-spacing: 2px;
        line-height: 60px;

    }

    .button-cards {

      display:none;
  
    }

    img:first-child {

      max-width: 275px;
      height: 35vh;
      z-index: -100;
      opacity: 0.8;
      fill: #1a1a1a;
  
    }

    .hero1  img{
      position: relative;
      top: 0px;
      left:5px;
      border-radius: 60%;
      /* clip-path: polygon(0 0, 84% 0, 39% 45%, 0 83%);
      clip-path: circle(41.0% at 50% 50%); */
      z-index: 100;
      box-shadow: 0px -15px 26px -3px (198, 142, 23);
  
    }

    .header-title p {

      font-size:11px;

    }


  }