.layout {
	display: flex;
	flex-direction: column;
	min-height: 8vh;
  }
  
  .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #001529;
	padding: 0 24px;
  }
  
  .logo {
	display: flex;
	align-items: center;
  }
  
  .menu-horizontal {
	flex-grow: 1;
	display: flex;
	justify-content: center;
  }
  
  .navbar-user {
	display: flex;
	align-items: center;
  }
  
  .navbar-user-info {
	display: flex;
	flex-direction:row;
	align-items: center;
	gap: 5px;
	color: #fff;
  }
  
  .user-name {
	color: #fff;
	margin-left: 10px;
  }
  
  .login-and-register {
	display: flex;
	gap: 10px;
  }
  
  .menu-button {
	display: none;
  }
  
  @media (max-width: 768px) {
	.menu-horizontal {
	  display: none;
	}
  
	.menu-button {
	  display: inline-block;
	}
  
	.navbar-user {
	  display: none;
	}
  }
  
  .drawer-menu .ant-menu {
	background-color: #001529;
	color: #fff;
  }
  
  .drawer-menu .ant-menu-item a {
	color: #fff;
  }
  
  .drawer-menu .ant-menu-item a:hover {
	color: #1890ff;
  }
  