.footer-class {

    position: relative;
    z-index: 6;
    width: 100%;
    height: 60vh;
    padding: 2rem 2rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: var(--light-two);

}


.links-container {

    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    gap: 6rem;
    margin-top: 3rem;

}

.links-section-1 {

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

links-section-1 h3 {
    font-size: 2rem;
    font-weight: 600;


}


.email-button {

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

.email-button input {
    background: transparent;
    color: var(--color-black);
    transition: all 300ms ease;
    width: 12rem;
    height: 60px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: 0.4px solid transparent;

}

input::placeholder {

    color: grey;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.arrow-shadow {

    height: 48px;
    width: 3rem;
    background-color: #1a1a1a;
    border-radius: 9px;
    border-right: 5px solid #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0.5rem;
}

.arrow-shadow i {

    color: white;
    font-size: 1.3rem;
    
}

.footer-class ul  {

    margin-bottom: 1rem;
    text-decoration: none;
    list-style: none;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: flex-start;
    margin-top: 0.8rem;

}

.footer-class ul li {

    font-size: 1rem;
    margin-top: 0.8rem;
    font-weight: 500;
    color: gray;
   

}

.getStarted {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:0.7rem;
    height: 15vh;
    border-bottom:1.5px solid gray;
    

}

.logoA-2 {

   
    height:80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid #1a1a1a;
    border-radius: 50px;
  

}

 .active {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

}

.termsAnC {

    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.terms-links {

    display: flex;
    flex-direction: row;
    gap: 1rem;
   
}

.terms-links h3 {

    font-size: 1rem;
    color: #1a1a1a;

}

.terms-socials {

    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.terms-socials {

    font-size: 2rem;
    color: #1a1a1a;
    font-weight: 400;


}


@media only screen and (max-width: 478px) {

    .footer-class {
            height:100vh;
            overflow:hidden;
            padding:1rem 1rem;

    }

    .getStarted{

        padding:1rem 1rem;
        gap:1rem;

    }

    .button-2 {
        display:flex;
        flex-direction:column;
        padding:0.1rem 0.1rem;
        gap:0.4rem;
    }


    .links-container{
        display:flex;
        flex-wrap:wrap;
    
    }

    .links-section-1{

        padding:0rem 4rem;
      

    }

    .links-section {
        position:relative;
        top:0;
        left:0;
        padding:0.9rem 0.9rem;
        height:10vh;
        width:100;

    }

    .termsAnC{
        padding:4rem 1rem;

    }

}