.container4 {
    position: relative;
    z-index: 5;
    width: 92rem;
    height: 100%;
    padding: 1rem 4rem;
    margin: 1rem 4rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    

}

.top-half {

    position: relative;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    height: 50vh;
    width: 100%;
    overflow: hidden;
   
  }

  .middle-half {

    position: relative;
    padding: 1rem 1rem;
    margin: 1.5rem;
    height: 50vh;
    width: 100%;
    overflow: hidden;


  }

  .grid-4 {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    align-items: center;
    justify-content: center;

  }

  .grid-item-2 {

    position: absolute;
    left:600px;
    padding: 20px 20px;
    z-index: -100;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 0%;

  }

  .grid-item-2 img {

    max-height: 40vh;
    min-width: 30rem;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    z-index: 100;
    opacity: 2;


  }

  .grid-item-img {

    position: absolute;
    left:0px;
    padding: 20px 20px;
    z-index: -100;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 5%;



  }

  .grid-item-img img {

    max-height: 40vh;
    min-width: 50rem;
    translate:inherit;
    border-radius: 5%;
    z-index: 100;
     opacity: 2;
  }


  @media only screen and (max-width: 478px) {

    .container4 { 
    
      
      display:none;
      
    }

    



  }