/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #6f55f2;
  --heading-color: #132742;
  --bg-gradient: linear-gradient(
    90deg,
    rgba(103, 101, 240, 1) 27%,
    rgba(141, 141, 235, 1) 85%
  );
  --black-color: #1a1a1a;
  --font-name: "Questrial", sans-serif;
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --main-color: #FF0000;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;

  
    --primary-color2: #212627;
    --secondary-color: #666;
    --accent-color: #f4f4f4;
    --light-color2: #fff;

  /* 
        #9785f2
        #b5a9f3
        #d3cef2
        #d7337a
    */
}

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}


button.white{

  font-size: 13px;
  font-weight:600;
  padding: 11px 18px;
  color:#fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s ease;
}

button.normal{
  font-size:14px;
  font-weight:600;
  padding:15px 30px;
  color:#000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s ease;
}

body {
  width: 100%;
}

.headerBox {

  margin: 2rem 2rem;
  

}

.baner1Box{

  margin: 2rem 2rem;

}